<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>   
    <div class="history-content">
        <div class="container">
            <div class="history-records">
                <% if (show.length > 0) { %>
                    <% show.forEach(function(record) { %>
                        <div class="history-record">
                            <div class="history-field"><%- record.description %></div>
                            <div class="history-field">€<%- record.amount %></div>
                            <div class="history-field"><%- record.cat %></div>
                            <div class="history-field"><%- record.createdAt.toDateString() %></div>
                            <a class="delete" data-doc="<%= record._id %>">Delete</a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <div class="history-field">No spending history</div>
                <% } %>
            </div>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>

    <script>
        // Select all delete buttons
        const deleteButtons = document.querySelectorAll('a.delete');

        // Loop through each delete button and add an event listener
        deleteButtons.forEach(button => {
            button.addEventListener('click', (e) => {
                e.preventDefault(); // Prevent default link behavior

                const endpoint = `/blogs/${button.dataset.doc}`;

                fetch(endpoint, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => window.location.href = data.redirect)
                .catch(err => console.log('error:', err));
            });
        });
    </script>
</body>
</html>