<!DOCTYPE html>
<html lang = "en">
<%- include('./partials/head.ejs')%>

<body>   
    <div class="history-content">
    <div class="history-container">
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <% if (show.length > 0) { %>
                    <% show.forEach(function(record) { %>
                        <tr>
                            <td><%= record.description %></td>
                            <td>$<%= record.amount.toFixed(2) %></td>
                            <td><%= record.cat %></td>
                            <td><%= record.createdAt.toDateString() %></td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td colspan="4">No spending history found.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    
    <%- include('./partials/footer.ejs')%>
</div> 
</body>
</html>