<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

<body>    
    <div class="content page-history">
        <%if(show.length > 0){%>
        <% show.forEach(record => { %>
            <div class="history-list">
                <h2>Spending: <%= record.description %></h2>
                <p>Amount: <%= record.amount %></p>
                <p>Category: <%= record.cat %></p>
                <p>Date: <%= record.createdAt.toString() %></p>
            </div>
        <% }) %>
        <%} else{%>
            <p>You don't have any spending history...</p>
        <%} %>
    </div>
    
    <%- include('./partials/footer.ejs')%>

</body>
</html>